* {
    text-align: center;
    box-sizing: border-box;
    margin: auto;
}

body {
    background-image: url("../img/bgtry03.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 800px;
    height: 800px;

    margin: 60px auto;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}

.header {
    margin-top: 13px;
    border: 5px solid rgba(0, 0, 0, 0.568);

    width: 50%;
    height: 36%;
    /* background: radial-gradient(#CDD48E 0%, #fff 90%); */
    background-color: #d2c5c5eb;
}

.header button:hover {
    background-color: #c2b97ffd;
}

.box {
    background-color: #8298ff63;
    border-top: 3px solid rgba(0, 0, 0, 0.568);
    border-bottom: 3px solid rgba(0, 0, 0, 0.568);
    height: 37px;
    font-weight: bold;
    /* word-spacing: 5px; */
}

.header h2 {
    display: inline-block;
    width: 104px;
}

.timer {

    display: inline-block;
    width: 109px;
    height: 50px;
    margin-left: 20px;
    padding: 2px;
    border-radius: 6px;
    font-size: 35px;
    text-shadow: 5px 5px 10px #ff0000;

    font-family: 'Orbitron', sans-serif;
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Rubik Moonrocks', cursive; */


}

button {
    width: 107px;
    height: 26px;

    margin: 10px;
    border-radius: 4px;

    background-color: #fff08d82;
    cursor: pointer;
    font-size: 13px;
    text-shadow: 5px 5px 10px #ff0000;
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'Rubik Moonrocks', cursive; */
}

.difficulty button {
    font-size: 16px;
}

.difficulty button:hover {
    font-size: 17px;
    font-weight: bold;
    background-color: #c2b97ffd;
}

.restart-btn {
    width: 79px;
    height: 74px;
}

.restart-btn img {
    width: 46px;
    height: 57px;
}


table {

    width: 50%;
    height: 40%;

    border: 1px solid black;

    background-color: #60492C;
}

td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    padding: 2px;
    overflow: hidden;
}

td:hover {
    background-color: #f9ebe0;
}



.marked {
    background-image: url("../img/spiderweb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.shown {
    background-color: #f9ebe0;
}

.mine-clicked {
    background-color: red;
}

img {
    width: 24px;
    height: 20px;
}

.hints {
    padding: 5px;
    margin-right: 10px;
    letter-spacing: -7px;
    font-family: 'Orbitron', sans-serif;
}

.hints:hover {
    cursor: pointer;
}

.clicked:hover {
    cursor: help;
}

table .clicked :hover {
    cursor: help;
}

.max-hints:hover {
    cursor: not-allowed;
}

.saved {
    background-color: #73628A
}

footer {
    font-size: 30px;
    color: #d5af74;
    text-shadow: 5px 5px 10px #ff0000;
    font-weight: 900;
}

.bestime {
    margin-right: 20px
}

.manual-mode {
    background-color: black;
    color: #fff;
}

.mega-on {
    background-color: black;
    color: #fff;
}

.exterminator {
    width: 39px;
    height: 61px;
    padding-top: 20px;
    margin-left: 30px;

    cursor: pointer;
}

/* Default colors */
body {
    color: #222;
    background-color: #fff;
}

/* Dark theme colors */
.dark-theme {
    color: #eee;
    background-color: #2C2C2C;
}


button.dark-theme {
    background-color: #717568
}

table.dark-theme {
    background-color: darkslategray;
}

td.dark-theme {
    background-color: darkslategray;
}

td.dark-theme :hover{
    background-color: rgba(87, 177, 177, 0.785);
}

td.dark-theme:hover {
    background-color: rgba(28, 197, 197, 0.888);
}

td.shown.dark-theme {
    background-color: rgba(28, 197, 197, 0.888);
}




body.dark-theme {
    /* filter: brightness(50%); */
    filter: brightness(.8) contrast(1.2);
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/bgtry03.png");
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 13px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    height: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 13px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 20px;
    left: 9px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}